$radius-md: 4px;
$radius-lg: 8px;

$color-black: #000;
$color-black-100: #111827;
$color-black-200: #030712;
$color-white: #fff;
$color-white-100: #f9fafb;
$color-white-200: #f3f4f6;

$font-bold: 600;

$text-md: 14px;
$text-lg: 18px;

$leading-4: 16px;
$leading-5: 20px;

$gap-1: 4px;
$gap-2: 8px;
