// Border Radius
$radius: (
    md: 4px,
    lg: 8px,
    2xl: 20px,
);

// Colors
$color: (
    black: #000,
    black-100: #111827,
    black-200: #030712,
    white: #fff,
    white-100: #f9fafb,
    white-200: #f3f4f6,
    white-300: #374151,
    white-400: #e5e7eb,
);

// Fonts
$font: (
    light: 400,
    medium: 600,
    bold: 700,
);

// Text Sizes
$text-size: (
    sm: 12px,
    md: 14px,
    base: 16px,
    lg: 18px,
    xl: 20px,
    2xl: 24px,
    4xl: 40px,
    5xl: 48px,
    7xl: 72px,
);

// Line Heights
$line-height: (
    4: 16px,
    5: 20px,
    6: 24px,
    7: 28px,
    8: 32px,
    10: 40px,
    12: 48px,
    18: 72px,
);

// Gaps
$gap: (
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    6: 24px,
    10: 40px,
    12: 48px,
    20: 80px,
);

// Responsive
$res_320: 'only screen and (min-width: 320px) and (max-width: 768px)';
$res_768: 'only screen and (min-width: 768px) and (max-width: 1024px)';
$res_1024: 'only screen and (min-width: 1024px)';
