// Border Radius
$radius: (
    md: 4px,
    lg: 8px,
);

// Colors
$color: (
    black: #000,
    black-100: #111827,
    black-200: #030712,
    white: #fff,
    white-100: #f9fafb,
    white-200: #f3f4f6,
    white-300: #374151,
);

// Fonts
$font: (
    light: 400,
    bold: 600,
);

// Text Sizes
$text-size: (
    md: 14px,
    lg: 18px,
    xl: 20px,
);

// Line Heights
$line-height: (
    4: 16px,
    5: 20px,
    7: 28px,
);

// Gaps
$gap: (
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
);
