@import 'variables.scss';
@import 'mixin.scss';

@mixin button(
    $bg-color: map-get($color, black),
    $text-color: map-get($color, white-100)
) {
    background-color: $bg-color;
    border: none;
    border-radius: map-get($radius, lg);
    cursor: pointer;
    font-weight: map-get($font, medium);
    line-height: map-get($line-height, 5);
    font-family: inherit;
    width: fit-content;
    @include buttonSize();

    span {
        color: $text-color;
    }
}

@mixin buttonSize() {
    &.small {
        height: 24px;
        padding: 0 map-get($gap, 2);
        font-size: map-get($text-size, sm);
    }

    &.medium {
        height: 48px;
        padding: 0 map-get($gap, 4);
        font-size: map-get($text-size, md);
    }

    &.large {
        height: 64px;
        padding: 0 32px;
        font-size: map-get($text-size, lg);
    }
}

.primary {
    @include button(map-get($color, black-200));
    letter-spacing: 0.04px;
}

.secondary {
    @include button(map-get($color, white-200), map-get($color, black-100));
    padding: 0 16px !important;
    letter-spacing: 0.015px;
    box-shadow: map-get($shadow, sm);
}

.transparent {
    @include button(transparent, map-get($color, black-100));
}

.white {
    @include button(map-get($color, white-200), map-get($color, black-100));
    box-shadow: map-get($shadow, sm);
}

.border {
    @include border();
}
