@import 'variables.scss';
.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .buttonContainer {
        display: inline-flex;
        gap: map-get($gap, 2);
        position: absolute;
        bottom: 32px;
        right: 32px;

        .button {
            width: 48px;
            height: 48px;
            border: 1px solid map-get($color, black-100);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: map-get($radius, lg);
            cursor: pointer;
        }
    }
}

.carouselItem {
    position: relative;
    flex: 1 0 100%;
    background-color: map-get($color, white);
}

.carouselWrapper {
    display: flex;
    transition: all 0.3s ease-in-out;
}

@mixin indicator($opacity: 0.2) {
    width: 6px;
    height: 6px;
    background-color: map-get($color, black-200);
    border-radius: map-get($radius, 2xl);
    opacity: $opacity;
    transition: all 0.3s ease-in-out;
}

.indicatorContainer {
    position: absolute;
    display: flex;
    gap: 6px;
    right: 32px;
    bottom: 163.5px;
    cursor: pointer;
    .indicator {
        @include indicator();
    }

    .activeIndicator {
        @include indicator(1);
        width: 28px;
    }
}
