@import 'variables.scss';

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    user-select: none;

    .carouselTrack {
        display: flex;
        gap: map-get($gap, 4);
        will-change: transform;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        width: 100%;
        height: fit-content;
    }

    .carouselItem {
        text-align: center;
        pointer-events: none;
    }
}
