/* Sử dụng font DM Sans */
html {
    font-family: var(--font-dm-sans), sans-serif;
}

/* Kiểu chữ mặc định cho toàn bộ ứng dụng */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}
.big-title {
    font-size: 72px;

    @media (max-width: 900px) {
        font-size: 20px;
    }
}

.small-title {
    font-size: 20px;

    @media (max-width: 900px) {
        font-size: 12px;
    }
}

.medium-title {
    font-size: 48px;

    @media (max-width: 900px) {
        font-size: 24px;
    }
}
