.header {
    height: 64px;
    width: 100%;
    .header-content {
        padding: 10px;
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        .header-item {
            width: 33%;
            display: flex;
            .header-logo {
                width: 33%;
            }
        }
        .navbar-mobile {
            display: none;
        }
        .mobile-arrow {
            display: none;
        }
        .header-nav {
            width: 33%;
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            margin-right: 10px;
            align-items: center;
            .nav-item {
                width: 20%;
            }
            .nav-dropdown {
                width: 40%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                .nav-icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .header-end {
            width: 33%;
            display: flex;
            justify-content: flex-end;
            .header-btn {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    @media (max-width: 900px) {
        .header-content {
            justify-content: space-between;
            .navbar-mobile {
                display: block;
            }
            .header-item {
                justify-content: center;
            }
            .header-nav {
                display: none;
            }
            .header-end {
                display: none;
            }
            .mobile-arrow {
                display: block;
            }
        }
    }
}
