@import 'variables.scss';

.select {
    padding: 0 12px;
    border: 1px solid $color-black-200;
    border-radius: $radius-lg;
    display: inline-flex;
    align-items: center;
    gap: $gap-2;
    cursor: pointer;
    font-size: $text-md;
    font-weight: $font-bold;
    height: 32px;
    line-height: $leading-4;
    box-sizing: border-box;
}
